{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>commends-page</title>
    <link rel="stylesheet" href={% static 'css/commends-page.css' %}>
     <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<header>

<div class="header-container">
    <div class="logo">
        <h1>logo(M-A)</h1>
    </div>

    <div class="menu">
        <a href="#">home</a>
        <a href="#">contact us</a>
        <a href="#">help</a>
    </div>

    <div class="sign">
        <div class="search">
            <input type="search" placeholder="what you want?">
            <div class="search-btn">
                <i class="fa fa-search"></i>
            </div>

        </div>
        <div class="sign-box">
            <button>
                <i class="fa fa-pen"></i>
                <i class="fa fa-right-to-bracket"></i>
            </button>
        </div>

    </div>
</div>
</header>